POPULATION IN POLAND:

In [1]:
library(data.table)
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:data.table’:

    between, first, last


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

We have 4 datasets:

In [2]:
deaths <- read.csv("~/Desktop/Micro project/Data/Deaths by Voivodeship.csv", sep=";")
births <- read.csv("~/Desktop/Micro project/Data/Live births by Voivodeship.csv", sep=";")
pop <- read.csv("~/Desktop/Micro project/Data/Population by Voidodeship.csv", sep=";")

In [3]:
deaths1 <- rbind(deaths[1:17,])
births1 <- rbind(births[1:17,])
pop1 <- rbind(pop[1:17,])

In [4]:
df.deaths1 <- data.frame(t(deaths1[-1]))

colnames(df.deaths1) <- deaths1[, 1]

df.deaths1 <- setNames(cbind(rownames(df.deaths1), df.deaths1, row.names = NULL), 
         c("YEAR", "TOTAL", "Dolnoslaskie", "Kujawsko-pomorskie", 
           "Lubelskie", "Lubuskie", "Lodzkie", "Malopolskie", "Mazowieckie", 
           "Opolskie", "Podkarpackie", "Podlaskie", "Pomorskie", "Slaskie", 
           "Swietokrzyskie", "Warminsko-mazurskie", "Wielkopolskie", 
           "Zachodniopomorskie"))

df.births1 <- data.frame(t(births1[-1]))

colnames(df.births1) <- births1[, 1]

df.births1 <- setNames(cbind(rownames(df.births1), df.births1, row.names = NULL), 
         c("YEAR", "TOTAL", "Dolnoslaskie", "Kujawsko-pomorskie", 
           "Lubelskie", "Lubuskie", "Lodzkie", "Malopolskie", "Mazowieckie", 
           "Opolskie", "Podkarpackie", "Podlaskie", "Pomorskie", "Slaskie", 
           "Swietokrzyskie", "Warminsko-mazurskie", "Wielkopolskie", 
           "Zachodniopomorskie"))

df.pop1  <- data.frame(t(pop1 [-1]))

colnames(df.pop1) <- pop1[, 1]

df.pop1 <- setNames(cbind(rownames(df.pop1 ), df.pop1 , row.names = NULL), 
         c("YEAR", "TOTAL", "Dolnoslaskie", "Kujawsko-pomorskie", 
           "Lubelskie", "Lubuskie", "Lodzkie", "Malopolskie", "Mazowieckie", 
           "Opolskie", "Podkarpackie", "Podlaskie", "Pomorskie", "Slaskie", 
           "Swietokrzyskie", "Warminsko-mazurskie", "Wielkopolskie", 
           "Zachodniopomorskie"))

1) DEATHS DATA SET:

In [5]:
df.deaths.rich <- df.deaths1[,c('YEAR', 'TOTAL', "Dolnoslaskie", "Mazowieckie", "Slaskie", "Wielkopolskie")]
df.deaths.average <- df.deaths1[,c('YEAR', 'TOTAL', "Kujawsko-pomorskie", "Lubuskie", "Lodzkie", "Malopolskie", "Opolskie", "Pomorskie",  "Zachodniopomorskie")]
df.deaths.poor <- df.deaths1[,c('YEAR', 'TOTAL', "Podlaskie", "Lubelskie", "Warminsko-mazurskie", "Swietokrzyskie", "Podkarpackie")]

In [6]:
deaths.mean.rich <- c()

for(i in 1:13){
  deaths.mean.rich <- c(deaths.mean.rich, rowMeans(df.deaths.rich[i, 3:5]))
}

deaths.mean.average <- c()

for(i in 1:13){
  deaths.mean.average <- c(deaths.mean.average, rowMeans(df.deaths.average[i, 3:5]))
}

deaths.mean.poor <- c()

for(i in 1:13){
  deaths.mean.poor <- c(deaths.mean.poor, rowMeans(df.deaths.poor[i, 3:5]))
}
deaths2 <- data.frame(df.deaths1[1], deaths.mean.rich, deaths.mean.average, deaths.mean.poor)
colnames(deaths2) <- c('Year', 'Rich', 'Avg', 'Poor')

In [7]:
write.csv(deaths2,
            "~/Desktop/Micro project/deaths.groups.csv")

2) BIRTH DATA SET:

In [8]:
df.births.rich <- df.births1[,c('YEAR', 'TOTAL', "Dolnoslaskie", "Mazowieckie", "Slaskie", "Wielkopolskie")]
df.births.average <- df.births1[,c('YEAR', 'TOTAL', "Kujawsko-pomorskie", "Lubuskie", "Lodzkie", "Malopolskie", "Opolskie", "Pomorskie",  "Zachodniopomorskie")]
df.births.poor <- df.births1[,c('YEAR', 'TOTAL', "Podlaskie", "Lubelskie", "Warminsko-mazurskie", "Swietokrzyskie", "Podkarpackie")]

In [9]:
births.mean.rich <- c()

for(i in 1:13){
  births.mean.rich <- c(births.mean.rich, rowMeans(df.births.rich[i, 3:6]))
}

births.mean.average <- c()

for(i in 1:13){
  births.mean.average <- c(births.mean.average, rowMeans(df.births.average[i, 3:9]))
}

births.mean.poor <- c()

for(i in 1:13){
  births.mean.poor <- c(births.mean.poor, rowMeans(df.births.poor[i, 3:7]))
}
births2 <- data.frame(df.births1[1], births.mean.rich, births.mean.average, births.mean.poor)
colnames(births2) <- c('Year', 'Rich', 'Avg', 'Poor')

In [10]:
write.csv(births2,
            "~/Desktop/Micro project/births.groups.csv")

In [11]:
births2

   Year  Rich     Avg      Poor
1  X2006 39559.25 19534.57 15853.0
2  X2007 41175.75 20232.14 16309.0
3  X2008 44120.00 21680.86 17250.6
4  X2009 44602.25 21766.71 17362.6
5  X2010 44757.00 21357.57 16953.8
6  X2011 41950.75 20087.86 15999.6
7  X2012 41729.50 20008.57 15855.8
8  X2013 40148.75 19129.57 15014.8
9  X2014 41008.25 19371.86 15104.8
10 X2015 40521.25 19059.57 14761.2
11 X2016 42004.25 19840.86 15070.8
12 X2017 43918.00 20854.71 16065.4
13 X2018 42412.25 20099.57 15566.4

2) POPULATION DATA SET:

In [12]:
df.pop.rich <- df.pop1[,c('YEAR', 'TOTAL', 'Mazowieckie', 'Malopolskie', 'Wielkopolskie')]
df.pop.average <- df.pop1[,c('YEAR', 'TOTAL', 'Podkarpackie', 
                                   'Lubelskie', 'Slaskie', 'Lodzkie', 
                                   'Dolnoslaskie', 'Kujawsko-pomorskie', 
                                   'Pomorskie')]
df.pop.poor <- df.pop1[,c('YEAR', 'TOTAL', "Swietokrzyskie", "Warminsko-mazurskie", 
                          "Zachodniopomorskie", "Podlaskie", "Opolskie", "Lubuskie")]

In [13]:
pop.mean.rich <- c()

for(i in 1:13){
  pop.mean.rich <- c(pop.mean.rich, rowMeans(df.pop.rich[i, 3:5]))
}

pop.mean.average <- c()

for(i in 1:13){
  pop.mean.average <- c(pop.mean.average, rowMeans(df.pop.average[i, 3:5]))
}

pop.mean.poor <- c()

for(i in 1:13){
  pop.mean.poor <- c(pop.mean.poor, rowMeans(df.pop.poor[i, 3:5]))
}
pop2 <- data.frame(df.pop1[1], pop.mean.rich, pop.mean.average, pop.mean.poor)
colnames(pop2) <- c('Year', 'Rich', 'Avg', 'Poor')

In [14]:
write.csv(pop2,
            "~/Desktop/Micro project/pop.groups.csv")